#city-dropdown{
	display: none;
}

#weatherButton{
	display: none;
}

.weatherData{
	display: none;
}

.btn-basic {
	background-color: #dee0de;
	border: none;
	color: #1b1b1b;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 16px;
}

.select-basic {
	width: 400px;
	padding: 12px 10px;
	margin: 8px 0;
	display: block;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.weather-data-list > li{
	font-weight: bold;
	font-size: 16;
}

.weather-data-list > li > span {
	font-weight: normal;
}